<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A web app that allows you to build a Spotify playlist based on your favourite artist, that will match your running cadence.">
	<meta name="author" content="James Fenning">
	<title>503 Error</title>
	<link rel="icon" href="../../static/img/logo.png">
	<link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="description">
			<h2 class="title">503</h2>
			<p class="explination"><br> Looks like we are having some server issues. <br><br> <a href="../index.html">Maybe head back to the home page and try again.</a></p>
		</div>
	</div>
</body>
</html>