<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A web app that allows you to build a Spotify playlist based on your favourite artist, that will match your running cadence.">
	<meta name="author" content="James Fenning">
	<title>Tempo Training</title>
	<link rel="icon" href="../static/img/logo.png">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="description">
			<h2 class="title">Tempo Training</h2>
			<p class="explination">Create your new running playlist featuring songs based on your favourite artist, with BPM that will match your step cadence. <br><br> First we will need you to authorize the app to create a playlist on your account. Click 'Log In' below when you are ready!</p>
			<a href="/login" id="login" class="button">Log In</a>
		</div>
	</div>
</body>
</html>